<div class="photo" #templateReference>
  <p class="photo-text">ID zdjęcia: {{ photo.id }}</p>
  <p class="photo-text">ID albumu: {{ photo.albumId }}</p>
  <p class="photo-text">Tytuł: {{ photo.title | uppercase }}</p>
  <label>
    <input type="text" [(ngModel)]="photo.title" />
  </label>
  <p class="photo-text">Polubienia: {{ photo.likes | boostValue: 100 }}</p>
  <p class="photo-text">Znielubienia: {{ photo.unlikes | boostValue: 10 }}</p>
  <p class="photo-text">Data: {{ photo.creationDate | date: "dd.MM.yyyy" }}</p>
  <img [src]="photo.url" class="photo-img" />

  <button class="photo-button" (click)="onDeleteClick()">Usuń</button>
  <button
    class="photo-button"
    (click)="onLikeClick()"
    [ngClass]="{
      'photo-button-like': photo.likes >= 5
    }"
  >
    Polub
  </button>
  <button
    class="photo-button"
    (click)="onUnlikeClick()"
    [ngClass]="{
      'photo-button-unlike': photo.unlikes >= 5
    }"
  >
    Znielub
  </button>

  <button class="photo-button" (click)="updatePhoto()">Zaktualizuj</button>
</div>
