<button
  (click)="togglePhotosVisibility()"
  class="photo-button"
  [ngClass]="{
    'photo-button-show': shouldShowPhotos,
    'photo-button-hide': !shouldShowPhotos
  }"
  [ngStyle]="{
    color: shouldShowPhotos ? '#F1F1F1' : '#000000'
  }"
>
  Zmień widoczność
</button>

<button class="photo-button" (click)="decreasePagination()">Poprzednie</button>
<button class="photo-button" (click)="increasePagination()">Następne</button>

<div *ngIf="shouldShowPhotos" class="photos-list">
  <app-photo
    *ngFor="let cokolwiek of photos | slice: minValue:maxValue"
    [photo]="cokolwiek"
    (deletePhoto)="deletePhoto($event)"
    (likePhoto)="increasePhotoLike($event)"
    (unlikePhoto)="increasePhotoUnlike($event)"
  ></app-photo>
</div>
